* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  min-height: 40%;
}

main {
  border-top: solid hsl(0deg, 0%, 30%) 8px;
  background-color: hsl(0deg, 0%, 60%);
  min-height: 60%;
  padding-top: 32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  margin: 32px auto;
  max-width: 500px;
}

.intro-chunk {
  padding: 16px;
}

.card {
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 4px 0 hsl(0deg, 0%, 30%);
}

.indented-heading {
  max-width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  box-shadow: 0 4px 4px 0 hsl(45deg, 100%, 40%);
  padding: 8px 16px;
  margin-left: -32px;
}

/* Add styles here! */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .max-width-wrapper {
    max-width: fit-content;
    margin: 0;
  }

  .intro-chunk {
    width: 80%;
    padding-top: 64px;
  }

  .card {
    width: 100%;
  }

  header {
    min-height: 30%;
  }

  .indented-heading {
    margin: 0 0 0 -32px;
    padding-left: 32px;
  }
  main {
    padding-top: 64px;
  }
}
